StatsService.swift

.DS_Store

xcuserdata/
xcshareddata/

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

GoogleService-Info.plist
Info.plist

timeline.xctimeline
playground.xcworkspace

.build/

build/
DerivedData/

Pods/